__pycache__
.pytest_cache
*.pyc
.cache
*.swp
*.pyc
*.so
*.o
*.mod
results.txt
scaling.txt
current_coverage.txt
timing/
.coverage
doc/**/*.log
doc/**/*.backup
doc/**/*.aux
doc/**/*.toc
doc/**/*.snm
doc/**/*.nav
doc/**/*.out
doc/**/*.bbl
doc/**/*.blg
doc/**/*.synctex.gz
doc/**/*.kilepr
.kile
tags
.ACC.*
__pyccel__
tjob.out.*
tjob.err.*
.lock_acquisition.lock
