__pycache__
.pytest_cache
*.pyc
.cache
*.swp
*.pyc
*.so
*.o
*.mod
results.txt
scaling.txt
current_coverage.txt
timing/
.coverage
doc/*.log
doc/*.backup
doc/*.aux
doc/*.toc
doc/*.snm
doc/*.nav
doc/*.out
tags
.ACC.*
f2py_build
