mpi4py>=3.0.0
matplotlib>=2.2.2
numpy>=1.15.1
scipy>=1.1.0
pytest>=2.8.7
h5py>=2.8.0
pyccel>=1.2.3

# h5py must be built from source using MPI compiler
# and linked to parallel HDF5 library. To do so set
#
# CC="mpicc"
# HDF5_MPI="ON"
# HDF5_DIR=/usr/lib/x86_64-linux-gnu/hdf5/openmpi
#
--no-cache-dir hypy mpi4py
--no-binary h5py

